<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<main>
    <h1>Fiche Elève</h1>
    <a href="{{ path('students') }}">retour vers Elèves</a>

    <div class="studentContainer">
        <h2>{{ student.lastname }}</h2>
        <h2>{{ student.firstname }}</h2>
        <span class="age">{{ student.age }}</span>
        <span class="team">{{ student.team }}</span>
        <span class="firstQuarter">{{ student.firstQuarter }}</span>
        <span class="secondQuarter">{{ student.secondQuarter }}</span>
        <span class="lastQuarter">{{ student.lastQuarter }}</span>
    </div>
</main>

</body>
</html>